.container {
  width: 500px;
  height: 500px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
}

.container h1 {
  margin: 0 auto;
  margin-bottom: 50px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
}

.btn.reset {
  background: #222;
  color: #fff;
  margin-left: 24px;
}

input {
  width: 300px;
  height: 40px;
  display: block;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #222;
  color: #fff;
  padding-left: 12px;
}

.form-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.form-item label {
  font-size: 14px;
  width: 90px;
  text-align: right;
  margin-right: 50px;
}
